header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:sandybrown;
  flex-direction: column;
  background-image: url("/images/arches.png");
  background-color: #d7de00;
  margin-top: 105px;
  margin-bottom: 35px;
}


/* Tablet Styles */
@media only screen and (min-width: 768px) {
  header{
  width: 100%;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  header{
  width: 30%;
  float: left;
  /* padding-top: 10px; */
  margin-top: 150px;
  }
}