.new-tweet {
	width: 90%;
  margin: inline start 10px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-family: 'Bungee' ,sans-serif;
	font-size: .85em;
	overflow: auto;

}

textarea {
	outline: none;
	border: none;
	border-bottom: 3px solid #545149;
	resize: none;
	width: 100%;
	margin-bottom: 1em;
	max-width: 100%;
	background-color: #f4f1ec;
	color: #3c3a34;
  margin: inline start 10px;
}

button {
	background-color: #4056A1;
	color: #fff;
	font-family: "Bungee", sans-serif;
  margin: inline start 10px;
}

.counter {
	margin-left: 90%;
}

.red {
	color: red;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
	.new-tweet {

	width: 95%;
	}
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
	.new-tweet {
	
	width: 55%;
	float: right;
	align-self: flex-end;
	padding-bottom: 0px;
	margin-top: 0px;
	}
}