.tweet-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5em;

}
.name-left{
align-self: flex-start;
}

.tweet {
  height: 300px;
  /* width: max-content; */
  width: 100%;
  
  margin: 1em;
  border: 2px solid  #545149; 
}

.tweet:hover{
  box-shadow: 5px 10px #888181
}

.th-header {
  display: flex; 
  margin: 1rem;
  width: 95%;
  height:45%;
  background-color: white;
  
}
.th-header h3 {
  font-weight: 300;
  align-self: flex-start;
  font-size: 15px;
}

.th-header img {
  max-height: 75px;
  max-width: 75px; 
  align-self: flex-start;
  float: left;
  margin-top: 65px;

}
.userID {
  align-self: flex-end;
  font-size: 15px;
  margin-bottom: 80px;
  margin-top: 0px;
}

.display-tweet {
  margin: 0.5rem; 
  border-style: hidden; 
  border-bottom: 5px solid #545149;
  font-weight: 300;
  line-height: 1;
}

.tweet-history footer {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}


.icons {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  color: blue;
  flex-direction: row-reverse;
  margin-right: 15px;

}

.fa, .fas:hover {
  font-weight: 900;
  color:burlywood;

}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
	#tweet-history {

	width: 95%;
	}
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  #tweet-history{
 
 width: 55%;
 float: right;
 align-self: flex-end;
 }
}